{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>HOME</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
      <link rel="stylesheet" href="{%static 'css/login.css '%}" />
   </head>
   <body>
      <!-- NAVBAR -->
      <nav>
         <div class="navbar">
            <div class="navbar-left">
               <a class="navbar-brand" href="#">
                  <img src="{% static 'images/logo_1.svg' %}" alt="" />
               </a>
            </div>
            <div class="navbar-mid">
               <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Faculty Profile</a></li>
               </ul>
            </div>
            <div class="navbar-right">
               <a href="sign-up">Sign Up</a>
            </div>
         </div>
      </nav>

      <!-- LOGIN FORM -->
      <section class="section">
         <div class="image-student side-image">
            <img src="{% static 'images/undraw_mathematics.svg' %}" alt="" />
         </div>
         <div class="form-container">
            <form action="{% url 'student_app:dologin' %}" method="post">
               {% csrf_token %}
               <div class="login-container">
                  <div class="title">
                     <p>STUDENT PORTAL</p>
                  </div>
                  <div class="form-inputs">
                     <input type="hidden" name="loginform" value="yes" />
                     <label for="email">Email Address</label>
                     <input type="text" id="email" name="email" required />
                     <label for="password">Password</label>
                     <input type="password" id="password" name="password" required />
                  </div>
                  <div class="keep-logged-in">
                     <input type="checkbox" name="keep-logged-in" id="keep-logged-in" />
                     <label for="keep-logged-in">Keep me logged in</label>
                  </div>
                  <div class="submit-btn">
                     <button type="submit">SIGN IN</button>
                  </div>
               </div>
            </form>
         </div>
      </section>

      <section class="section faculty-login">
         <div class="form-container">
            <form action="{% url 'student_app:dologin' %}" method="post">
               {% csrf_token %}
               <div class="login-container">
                  <div class="title">
                     <p>FACULTY PORTAL</p>
                  </div>
                  <div class="form-inputs">
                     <input type="hidden" name="loginform" value="yes" />
                     <label for="email">Email Address</label>
                     <input type="text" id="email" name="email" required />
                     <label for="password">Password</label>
                     <input type="password" id="password" name="password" required />
                  </div>
                  <div class="keep-logged-in">
                     <input type="checkbox" name="keep-logged-in" id="keep-logged-in" />
                     <label for="keep-logged-in">Keep me logged in</label>
                  </div>
                  <div class="submit-btn">
                     <button type="submit">SIGN IN</button>
                  </div>
               </div>
            </form>
         </div>

         <div class="image-student side-teacher">
            <img src="{% static 'images/undraw_quiz.svg' %}" alt="" />
         </div>
      </section>

      <footer>
         <div class="footer-container">
            <div class="left-footer">
               <div class="first-three-left">
                  <p><a href="#">HOME</a></p>
                  <p><a href="#">ABOUT</a></p>
                  <p><a href="#">CONTACT</a></p>
               </div>
               <div class="second-left">
                  <a href="#"><p>STUDENT PORTAL</p></a>
               </div>
               <div class="third-left">
                  <a href="#"><p>FACULTY PROFILE</p></a>
               </div>
               <div class="social-icons">
                  <a href="#"><img src="{% static 'images/facebook 1.svg' %}" alt="" /></a>
                  <a href="#"><img src="{% static 'images/whatsapp 1.svg' %}" alt="" /></a>
                  <a href="#"><img src="{% static 'images/instagram 1.svg' %}" alt="" /></a>
                  <a href="#"><img src="{% static 'images/gmail 1.svg' %}" alt="" /></a>
               </div>
            </div>
            <div class="right-footer">
               <div class="footer-logo">
                  <img src="{% static 'images/Footer Logo.svg' %}" alt="" />
               </div>
               <div class="footer-description">
                  <p>
                     Student Hub is one of the most user-friendly management in the country. It will help not only save your precious time
                     but also keep your data safe
                  </p>
               </div>
               <div class="copy-right">
                  <p>Ⓒ 2021 ibibogroup All rights reserved</p>
               </div>
            </div>
         </div>
      </footer>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="{%static 'js/login.js '%}"></script>
   </body>
</html>
