*,
*::after,
*::before {
   box-sizing: border-box;
}

html {
   margin: 0;
   font-size: 62.5%;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Space Mono", monospace;
   color: #333;
   background-color: #fff;
   height: 300vh;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

nav a {
   color: #333;
   text-decoration: none;
   animation: none;
}

nav {
   position: fixed;
   width: 100vw;
   text-transform: uppercase;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.4rem 5rem;
   font-size: 1.2rem;
   background-color: inherit;
   animation: none;
}

.navbar-mid ul li {
   display: inline-block;
}

.navbar-mid ul li:not(:first-child) {
   margin-left: 2.3rem;
}

.navbar-right a {
   color: #fff;
   padding: 1.2rem 4rem;
   background: linear-gradient(90deg, rgba(67, 166, 145, 0.5) -28.11%, rgba(112, 255, 225, 0.5) 79.19%), #43a691;
   border-radius: 20px;
}

.navbar-brand img {
   width: 40px;
}

@keyframes NavBGAnimation {
   0% {
      background-color: rgba(51, 51, 51, 1);
   }

   100% {
      background-color: rgba(51, 51, 51, 0);
   }
}

@keyframes NavBGAnimationBack {
   0% {
      background-color: rgba(51, 51, 51, 0);
   }

   100% {
      background-color: rgba(51, 51, 51, 1);
   }
}

@keyframes NavFontAnimation {
   0% {
      color: #fff;
   }

   100% {
      color: #333;
   }
}

@keyframes NavFontAnimationBack {
   0% {
      color: #333;
   }

   100% {
      color: #fff;
   }
}
